

<div class = "container" search-control>
          <br>
        <div class = "row">
          <div class = "col-lg-3 col-centered col-md-offset-4">
            <div>
              <p class="headStyle">Find Your Distros!</p>
            </div>   
          </div>
        </div>
         <br> 
        <div class="center">    
	        <div class = "row">
		        <div class="col-xs-2 col-md-offset-2">
		        	<!--label for="post_title">Select A Term</label><br-->  
					<select class="form-control">
					    <option value="one">Fall 2014</option>
					    <option value="two">Winter 2015</option>
					</select>
				</div>

				<div class="col-xs-4">
		        	<!--label for="post_title">Select A Distro Area</label><br-->			  
					<select id="distroIn" class="form-control">
					    <option value="one">Natural Sciences (Area I)</option>
					    <option value="two">Formal Studies (Area II)</option>
					    <option value="three">Social and Behavioral Sciences (Area III)</option>
					    <option value="four">Historical Studies (Area IV)</option>
					    <option value="five">Ethics and Values (Area V)</option>
					    <option value="six">Literature and Fine Arts (Area VI)</option>
					</select>

				</div>
				<div class = "col-xs-3">
					<!--style="padding-top:23px"-->
					<div>
	            		<input class="btn btn-large btn-primary" id="submitButton" name="commit" type="submit" value="Submit"/>
	            	</div>
	          	</div>
			</div>
		</div>
		<br>
		<div class = "row">
	        <div class="col-xs-3 col-md-offset-4">

		       <script type="text/javascript">
		       </script>

		       <table id="myTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
			        <thead>
			            <tr>
			                <th>Course Number</th>
			                <th>Subject</th>
			                <th>Course Title</th>
			                <th>Instructor</th>
			                <th>Location</th>
			                <th>Seats</th>
			                <th>Days</th>
			                <th>Start Time</th>
			                <th>End Time</th>
			            </tr>
			        </thead>
			        <tbody id="tblBody">
			        </tbody>
	    		</table>

			</div>
		</div>
      </div>
    </div>